.admin-container {
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(7, 6, 6, 0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.login-box button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  opacity: 0.9;
}

.status {
  margin-top: 10px;
  color:green;
  font-weight: 500;
}

.feedback-list {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.logout-btn {
  background: #f54242;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #6a11cb;
  color: white;
  padding: 10px;
  text-align: left;
}

td {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

tr:hover {
  background-color: #f9f9f9;
}
